pandas
openai
scikit-learn
seaborn
evaluate
wandb
tenacity
python-dotenv
google-generativeai
tiktoken
sentence-transformers
spacy
anthropic
benepar
spacy_syllables
together
reka-api>=2.0.0
zhipuai
ai21>=2.13.0
azure.identity
azure-ai-inference
cohere
mistralai